extends layout

block content

    div(ng-controller="MainController")
        a(href='', ng-click="printObject()") print object
        br
        a(href='', ng-click="changeObject()") change object
        br
        a(href='', ng-click="collapseAll()") collapse all
        br
        a(href='', ng-click="expandAll()") expand all
        br
        a(href='', ng-click="edit()") edit
        br
        br
        collection(class="base" collection='testObject')


