doctype html
html(ng-app='angular-json-ui')
  head
    title= title
    //- script(src='http://code.jquery.com/jquery-1.11.0.js')
    script(src='http://code.jquery.com/jquery-2.1.0.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js')
    script(src='/javascripts/angular-json-ui-directives.js')
    script(src='/javascripts/angular-json-ui-app.js')
    link(rel='stylesheet', href='/stylesheets/angular-json-ui.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  body
    block content
