body {
  padding: 50px;
  font-family: monospace;
  font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 0px 26px;
}

li {
    position: relative;
}

div {
    display: inline;
}

.hoverable {
    display: inline-block;
}

.hovered {
    background-color: rgba(235,238,239,1);
}

.type-boolean {
    color: red;
}

.type-string {
    color: green;
}

.collapser {
    padding-right: 6px;
    padding-left: 6px;
    position: absolute;
    top: 1px;
    left: -1.5em;
    cursor: default;
}

.collapser:after {
    /*content: "\f191";
    font-family: FontAwesome;*/
    content: "-";
}

.collapsed > .collapser:after {
    /*content: "\f152";
    font-family: FontAwesome;*/
    content: "+";
}

.ellipsis:after {
    content: " … ";
}

.create {
    position: absolute;
    z-index: 2;
    margin-left: 14px;
    margin-top: -17px;
    background-color: white;
    border: 1px solid grey;
    padding: 0px 3px 3px 3px;
}

.create li {
    margin: 2px;
}

.create li:hover {
    background-color: #99bbff;
    cursor: default;
}



